---
import ListLayouts from "../../layouts/ListLayouts.astro";
---

<!-- Type henviser til kolonen i databasen, category til hvilken data som står i kolonen i databasen -->
<ListLayouts type="collection" heading="Blue Hills kollektionen" img="blue_mobile.webp" img_desk="blue_desk.webp" list_column="collection" list_type="Blue Hills">
  <p>Skab dit eget unikke bordopdækning ved at blande og matche farverne efter din egen stil.</p>
</ListLayouts>
