---
import ListLayouts from "../../layouts/ListLayouts.astro";
---

<!-- Type henviser til kolonen i databasen, category til hvilken data som står i kolonen i databasen -->
<ListLayouts heading="Colours kollektionen" img="colours.webp" type="collection" category="Colours">
  <p>Skab dit eget unikke bordopdækning ved at blande og matche farverne efter din egen stil.</p>
</ListLayouts>
