---
import ListLayouts from "../../layouts/ListLayouts.astro";
---

<!-- Type henviser til kolonen i databasen, category til hvilken data som står i kolonen i databasen -->
<ListLayouts heading="Tallerkner" img="tester2.png" column="type" type="tallerken">
  <p>Her står der noget fint omkring vaser</p>
</ListLayouts>
