---
import MainLayouts from "../layouts/MainLayouts.astro";
import Hero from "../components/Hero.astro";
import Carrousel from "../components/Carrousel.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import InstagramGrid from "../components/InstagramGrid.astro";
import CardCollection from "../components/CardCollection.astro";
---

<MainLayouts title="Forside">
  <Hero img="hero_desk.webp" heading="Lars Rank" button="" button_txt="Køb nu">
    <p>Håndlavet keramik med et personligt og unikt udtryk. Lavet med funktionalitet for øje.</p>
  </Hero>
  <section>
    <h2>Populære Produkter</h2>
    <Carrousel />
  </section>
  <section class="background collections">
    <h2 class="light">Kollektioner</h2>
    <CardCollection img="bluehills.webp" collection="Blue Hills" />
    <div class="flex_end">
      <CardCollection img="colours.webp" collection="Colours" />
    </div>
    <div class="flex_center">
      <CardCollection img="vaser.webp" collection="Stabel Serien" />
    </div>
  </section>
  <section class="about">
    <div class="place">
      <Text color="dark" heading="Keramikkeren bag"><p>Alle mine produkter er håndlavet med stor omhu på mit værksted på Christianshavn i København. Med en baggrund som uddannet billedkunstner, har jeg siden 2004 har jeg produceret keramik i høj kvalitet til boligen. Keramikken støbes i enten porcelæn og stentøj, og i mine designs har jeg altid fokus på at funktionaliteten kommer først.</p></Text>
      <Button type="secondary" link="#">Læs mere</Button>
    </div>
    <img src="/img/webp/lars_working.webp" alt="" />
  </section>
  <section class="background some">
    <InstagramGrid />
    <div class="place">
      <Text color="light" heading="Følg med"><p class="light">Følg min kreative rejse på Instagram, og få et indblik i mit keramiske univers. Her kan du følge med i udviklingen af nye produkter, se processen bag og deltage i konkurrencer.</p></Text>
    </div>
  </section>
</MainLayouts>

<style>
  /* Color styling */
  .light {
    color: var(--primary_100);
  }
  .dark {
    color: var(--secondary_500);
  }
  .background {
    background-color: var(--accent_900);
  }

  /* GENERAL SECTION */
  section {
    padding: var(--spacing_9) var(--spacing_5);
  }

  /* KOLLEKTIONER SECTION */
  .collections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  .flex_end {
    display: flex;
    justify-content: end;
  }

  .flex_center {
    display: flex;
    justify-content: center;
  }

  /* OM RANK SECTION */
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }
  .about img {
    border-radius: var(--radius_m);
  }

  /* SO ME SECTION */
  .some {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  @media (min-width: 800px) {
    /* GENERAL SECTION */
    section {
      padding: 50px 160px;
    }

    .collections {
      padding: 50px 15%;
    }

    /* CARROUSEL SECTION */
    h2 {
      text-align: center;
      padding: 0 0 var(--spacing_11) 0;
    }

    /* ABOUT AND SO ME SECTION */
    .place {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing_5);
    }
    .about,
    .some {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Testing */
</style>
