---
import MainLayouts from "../layouts/MainLayouts.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import CardProductStatic from "../components/CardProductStatic.astro";
import InstagramGrid from "../components/InstagramGrid.astro";
import CardCollection from "../components/CardCollection.astro";

import Carrousel from "../components/Carrousel.astro";
---

<MainLayouts title="Forside">
  <Hero img="tester2.png" heading="Lars Rank" button="" button_txt="Køb nu">
    <p>Håndlavet keramik med et personligt og unikt udtryk. Lavet med funktionalitet for øje.</p>
  </Hero>
  <section class="display">
    <h2>Populære Produkter</h2>
    <Carrousel />
  </section>
  <section class="background collections">
    <CardCollection />
  </section>
  <section class="about">
    <div>
      <Text color="dark" heading="Tester"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos eius suscipit quibusdam, dolorum sed alias! Cupiditate facere natus tempore, laudantium, odio quisquam iure voluptatum obcaecati delectus eius sunt amet excepturi!</p></Text>
      <Button type="secondary" link="#">Læs mere</Button>
    </div>
    <img src="/img/webp/tester.webp" alt="" />
  </section>
  <section class="background some">
    <Text color="light" heading="Følg med"><p class="light">Følg min kreative rejse på Instagram, og få et indblik i mit keramiske univers. Her kan du følge med i udvikling af nye produkter, se processen bag og deltage i konkurrencer.</p></Text>
    <InstagramGrid />
  </section>
</MainLayouts>

<style>
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing_5);
  }
  .light {
    color: var(--primary_100);
  }
  .dark {
    color: var(--secondary_500);
  }
  div {
    display: flex;
  }
  .background {
    background-color: var(--accent_900);
  }

  /* GENERAL SECTION */
  section {
    padding: var(--spacing_9) var(--spacing_5);
  }

  /* KOLLEKTIONER SECTION */
  .collections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }
  /* OM RANK SECTION */
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  /* SO ME SECTION */
  .some {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  @media (min-width: 800px) {
    section {
      padding: 50px 160px;
    }

    h2 {
      text-align: center;
    }
    .about,
    .some {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
