---
import MainLayouts from "../layouts/MainLayouts.astro";
import Button from "../components/Button.astro";
---

<MainLayouts title="Forside">
  <div>
    <Button type="primary" color="light" link="">Tester 2</Button>
    <Button type="secondary" color="" link="">Tester 3</Button>
  </div>
</MainLayouts>

<style>
  div {
    display: flex;
  }
</style>
