---
import MainLayouts from "../layouts/MainLayouts.astro";
import Hero from "../components/Hero.astro";
import Carrousel from "../components/Carrousel.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import InstagramGrid from "../components/InstagramGrid.astro";
import CardCollection from "../components/CardCollection.astro";
---

<MainLayouts title="Forside">
  <Hero img_desk="products_desk.webp" img="products_mobile.webp" heading="Lars Rank" button="" button_txt="Køb nu"> Håndlavet keramik med et personligt og unikt udtryk. Lavet med funktionalitet for øje. </Hero>
  <section>
    <h2>Populære Produkter</h2>
    <div class="carousel">
      <Carrousel />
    </div>
    <div class="center">
      <Button type="secondary" link="/products">Se flere</Button>
    </div>
  </section>
  <section class="background collections">
    <h2 class="light">Kollektioner</h2>
    <div class="collection_cards">
      <CardCollection img="bluehills.webp" h3="right" collection="Blue Hills" animation="scroll" />
      <div class="flex_end">
        <CardCollection img="colours.webp" h3="left" collection="Colours" animation="scroll_2" />
      </div>
      <div class="flex_center">
        <CardCollection img="vaser.webp" h3="right" collection="Stabel Serien" animation="scroll" />
      </div>
    </div>
  </section>
  <section class="about">
    <img src="/img/webp/lars_working.webp" alt="Billede af Keramikker Lars som arbejder" />
    <Text color="dark" heading="Keramikkeren bag">
      <p>Alle mine produkter er håndlavet med stor omhu på mit værksted på Christianshavn i København. Med en baggrund som uddannet billedkunstner, har jeg siden 2004 har jeg produceret keramik i høj kvalitet til boligen. Keramikken støbes i enten porcelæn og stentøj, og i mine designs har jeg altid fokus på at funktionaliteten kommer først.</p>
      <Button type="secondary" link="#">Læs mere</Button>
    </Text>
  </section>
  <section class="background some">
    <InstagramGrid />
    <div class="order">
      <Text color="light" heading="Følg med"><p class="light">Følg min kreative rejse på Instagram, og få et indblik i mit keramiske univers. Her kan du følge med i udviklingen af nye produkter, se processen bag og deltage i konkurrencer.</p></Text>
    </div>
  </section>
</MainLayouts>

<style>
  /* Color styling */
  .light {
    color: var(--primary_100);
  }
  .dark {
    color: var(--secondary_500);
  }
  .background {
    background-color: var(--secondary_500);
  }

  /* GENERAL SECTION */
  section {
    padding: var(--spacing_9) var(--spacing_5);
  }
  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* POPULÆRE PRODUKTER */
  .center {
    display: flex;
    justify-content: center;
  }

  /* KOLLEKTIONER SECTION */

  .collections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  .collection_cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_3);
  }
  .flex_end {
    display: flex;
    justify-content: end;
  }

  .flex_center {
    display: flex;
    justify-content: center;
  }

  /* OM RANK SECTION */
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }
  .about img {
    border-radius: var(--radius_m);
  }

  /* SO ME SECTION */
  .some {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  /********************************************************** Tablet version **********************************************************/
  @media (min-width: 600px) {
    section,
    .background {
      padding: var(--spacing_8) var(--spacing_10);
    }
  }

  /********************************************************** Desk version **********************************************************/
  @media (min-width: 1000px) {
    /* GENERAL SECTION */

    section,
    .background {
      padding: var(--spacing_12) var(--spacing_13);
    }
    /* COLLECTIONS SECTION */
    .collections {
      gap: var(--spacing_8);
    }
    .collection_cards {
      gap: var(--spacing_4);
    }

    /* CARROUSEL SECTION */
    h2 {
      text-align: center;
    }

    /* ABOUT AND SO ME SECTION */
    .about,
    .some {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing_12);
      align-items: center;
    }
    /* Change order in SoMe section */
    .order {
      order: -1;
    }
  }
</style>
