---
import CardProduct from "../components/CardProduct.astro";
import Hero from "../components/Hero.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
import Accordion from "../components/Accordion.astro";
import Select from "../components/Select.astro";
import Button from "../components/Button.astro";
import FilterCategory from "../components/FilterCategory.astro";
import FilterCollection from "../components/FilterCollection.astro";
import FilterMaterial from "../components/FilterMaterial.astro";
import FilterPrice from "../components/FilterPrice.astro";
import Colorsample from "../components/Colorsample.astro";
import Filter from "../components/Filter.astro";

// Fetcher data fra databasen og ligger i konstanten 'data'
const data = await fetch("https://hhmpiztfssfaluwezhgq.supabase.co/rest/v1/rank_keramik", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobXBpenRmc3NmYWx1d2V6aGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgyNzA4NTUsImV4cCI6MjAyMzg0Njg1NX0.TqriEz5DkZTixJO6AhMtVsvt7xiSjMvpJm525z2c9jM",
  },
}).then((res) => res.json());
---

<MainLayouts>
  <Hero img="tester2.png" heading="Alle Produkter" button="hide" button_txt=""> Håndlavet keramik med et personligt og unikt udtryk, lavet med funktionalitet for øje. Find dine favoritter og sammensæt din helt egen stil. </Hero>
  <section>
    <div class="menu">
      <Select img="filter_alt.svg" title="Sorter">
        <p>Lav til høj - pris</p>
        <p>høj til lav - pris</p>
        <p>Mest relevant</p>
      </Select>
      <Filter />
    </div>

    <article>
      <div class="products">
        {
          data.map((product, i) => {
            return <CardProduct data={product} />;
          })
        }

        <!-- Herter dataen for hvert element som er lig eller over 6, og laver et CardProduct med den, som ligger i en div, som ikke kan ses (pga class 'hide') -->
        <!-- <div class="extra hide">
        {
          data.map((product, i) => {
            if (i >= 8) {
              return <CardProduct data={product} />;
            }
          })
        }
      </div> -->
      </div>
      <Button type="disabled" link="#">Indlæs flere</Button>
    </article>
  </section>
</MainLayouts>
<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    margin: var(--spacing_6);
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing_5);
  }

  .menu {
    display: flex;

    gap: var(--spacing_4);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing_5);
  }

  @media (min-width: 800px) {
    .menu {
      flex-direction: column;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: var(--spacing_12) var(--spacing_13);
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: var(--spacing_5);
    }
  }
</style>
