---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
import CardProduct from "../components/CardProduct.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
import Colorsample from "../components/Colorsample.astro";
import FormCounter from "../components/FormCounter.astro";
import FormButton from "../components/FormButton.astro";
---

<MainLayouts>
  <Breadcrumbs />
  <img src="/img/webp/tester.webp" alt="" />
  <section class="info">
    <p class="collection">Stabel</p>
    <h1>Stor Urtepotte</h1>
    <p>
      <span class="price price_sale">XXX</span>
      <span class="price_kr price_sale"> kr</span>
      <span class="price_old">XXXX</span><span class="price_old_kr"> kr</span>
    </p>
    <Colorsample />
    <FormCounter />
    <button>Tilføj til kurv</button>

    <article>
      <div class="dimensioner">
        <div>
          <h4>Materiale</h4>
          <p>Stentøj</p>
        </div>
        <div>
          <h4>Mål</h4>
          <p>24 cm i diameter</p>
          <p>24 cm i diameter</p>
        </div>
      </div>

      <div>
        <h4>Beskrivelse</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, tempore quia sint officiis non corrupti dolorum, a nam possimus explicabo alias vitae suscipit magnam et dolor. Vero natus ex provident.</p>
      </div>
    </article>
  </section>

  <section class="related">
    <h2>Relaterede produkter</h2>
    <Carrousel />
    <div class="placeholder">
      <CardProduct />
      <CardProduct />
    </div>

    <Button type="secondary" link="#">Læs mere</Button>
  </section>
</MainLayouts>

<style>
  h1 {
    font-size: 2.25rem;
  }

  button {
    font-family: var(--font_body);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary_50);
    text-decoration: none;

    background-color: var(--accent_600);
    border: solid;
    border-color: var(--accent_600);
    border-radius: var(--radius_max);

    padding: var(--spacing_4) var(--spacing_6);
    display: block;
    width: 100%;
  }

  /* INFORMATIONER */
  .info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_6);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_7);
    margin-top: var(--spacing_8);
  }

  .dimensioner {
    display: flex;
    gap: var(--spacing_12);
  }

  /* PRICE */
  .price,
  .price_kr {
    font-size: 1.25rem;
  }

  .price_sale {
    color: var(--accent_600);
  }

  .price_old {
    margin-left: var(--spacing_3);
  }
  .price_old,
  .price_old_kr {
    text-decoration: line-through;
    font-size: 1rem;
  }

  /* RELATEREDE PRODUKTER */
  .related {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    align-items: center;
  }

  .related h2 {
    align-self: start;
  }

  /* PLACEHOLDER */
  .placeholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing_3);
    padding: var(--spacing_3);
  }
</style>
