---

---

<article>
  <p><slot /></p>
  <img src="/img/svg/shopping_bag-light.svg" alt="Ikon til kurv" width="24" height="24" />
  <!-- <p>Kurv</p> -->
</article>

<style>
  article {
    display: flex;
    gap: var(--spacing_2);
    background-color: var(--accent_600);
    border-radius: var(--radius_max);
    padding: var(--spacing_2) var(--spacing_4);
  }

  article:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }

  p {
    color: var(--primary_100);
  }

  img {
    width: 24px;
  }
</style>
