---
import Link from "../components/Link.astro";
const { current } = Astro.props;
---

<article>
  <Link link="/" variant="breadcrumb" label="Hjem" /><p>/</p>
  <Link link="/products" variant="breadcrumb" label="Produkter" /><p>/</p>
  <p>{current}</p>
</article>

<style>
  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing_5);
    margin: var(--spacing_4);
  }
  p {
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--secondary_500);
  }

  @media (min-width: 800px) {
    article {
      margin: var(--spacing_6);
    }
  }
</style>
