---
import Link from "../components/Link.astro";
const { link } = Astro.props;
---

<article>
  <Link link="/" variant="breadcrumb">Hjem</Link><p>/</p>
  <Link link="/products" variant="breadcrumb">Produkter</Link><p>/</p>
  <Link link="/#" variant="breadcrumb">Her</Link>
</article>

<style>
  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing_5);
    margin: var(--spacing_6);
  }
  p {
    font-family: var(--font_display);
    font-size: 1.25rem;
    color: var(--secondary_500);
  }
</style>
