---
const { type, color, link, hide } = Astro.props;
---

<a class={"button " + type + " " + color + " " + hide} href={link}><slot /></a>

<style>
  /********** Basics på udseende **********/

  .button {
    font-family: var(--font_body);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary_50);
    text-decoration: none;

    background-color: var(--accent_600);
    border: solid;
    border-color: var(--accent_600);
    border-radius: var(--radius_max);

    padding: var(--spacing_4) var(--spacing_6);
    display: block;
    width: fit-content;
    height: fit-content;
  }

  /* .button:hover {
    font-size: 1.rem;
  } */
  .button:visited {
    color: var(--primary_50);
  }

  /********** type - prop  **********/
  .primary {
    background-color: var(--accent_600);
    border-color: var(--accent_600);
  }
  .secondary {
    color: var(--accent_600);
    background-color: transparent;
  }

  .primary:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }
  .secondary:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }

  .secondary:visited {
    color: var(--accent_600);
  }
  .disabled:visited,
  .disabled {
    border-color: var(--secondary_200);
    color: var(--secondary_200);
    background-color: transparent;
    cursor: default;
  }

  /********** color - prop  **********/
  .primary .light {
    background-color: var(--primary_400);
    border-color: var(--primary_400);
  }
  .secondary .light {
    color: var(--primary_400);
    border-color: var(--primary_400);
    background-color: transparent;
  }
</style>
