---
const { img, collection, animation, h3 } = Astro.props;
---

<a href="#">
  <article class={animation}>
    <img src=`/img/webp/${img}` alt="Billede af kollektion" />
    <h3 class={h3}>{collection}</h3>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    border-radius: var(--radius_m);
  }
  a:hover {
    text-decoration: none;
  }
  article {
    position: relative;
    border-radius: var(--radius_m);
    max-width: 800px;
  }
  img {
    border-radius: var(--radius_m);
    box-shadow:
      0px 1px 3px rgba(46, 16, 9, 0.7),
      0px 4px 10px rgba(46, 16, 9, 0.7);
  }

  img:hover {
    box-shadow:
      0px 1px 3px rgb(26, 16, 9, 0.95),
      0px 4px 10px rgb(26, 16, 9, 0.95);
    scale: 1.005;
  }
  .right {
    position: absolute;
    top: 40%;
    right: 5%;
  }

  .left {
    left: 5%;
  }

  @media (min-width: 800px) {
    .right {
      top: 40%;
      right: 10%;
    }
    .left {
      left: 10%;
    }
  }

  /********** Scroll Animation in Chrome - (https://youtu.be/UmzFk68Bwdk?si=3ECrMQ-09hs6uGwE) ***********/
  /* Makes sure it only shows for peoples settings set to no preference */
  @media (prefers-reduced-motion: no-preference) {
    .scroll,
    .scroll_2 {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      /* Progress of animation happens in viewport */
      animation-timeline: view();
      /* start and end from the bottom of viewport */
      animation-range: 50px 300px;
    }
    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
        translate: 0 0;
      }
    }

    /* Position */
    .scroll {
      translate: -100px 0;
    }
    .scroll_2 {
      translate: 100px 0;
    }
  }
</style>
