---
const { img, img_1, img_2 } = Astro.props;
---

<div class="wrapper">
  <div class="carousel">
    <!-- Slides -->
    <ul class="slides">
      <!-- Slide 1 -->
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src=`/img/webp/products/${img}` alt="Produktbillede" />
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>

      <!-- Slide 2 -->
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src=`/img/webp/products/${img_1}` alt="produktbillede" />
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>

      <!-- Slide 3 -->
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src=`/img/webp/products/${img_2}` alt="produktbillede" />
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="carousel-dots">
    <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
    <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
    <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
  </div>
</div>

<style>
  /* GENERAL STYLING OF CAROUSEL */
  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .carousel {
    width: 100%;
    padding-bottom: 4px;
  }
  .slides {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 418px;
  }

  /* Text & img = %selection for different browsers */
  .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  /* default checkboxes hidden */
  ul.slides input {
    display: none;
  }

  .slide-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  /* Before img is shown  */
  .slide-image {
    display: block;
    opacity: 0;
    transition: all 0.7s ease-in-out;
  }
  .slide-image img {
    width: 100%;
    min-width: 100%;
    height: 100%;
  }

  /* CONTROLS STYLING */
  .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 490;
    font-size: 50px;
    line-height: 418px;
    color: #462007;
  }

  .carousel-controls label {
    display: none;
    position: absolute;
    opacity: 1;
    padding: 0 20px;
    cursor: pointer;
  }

  /* Arrows position and size  */
  .carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
  }

  .carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
  }

  /* DOTS STYLING */
  .carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .carousel-dots .carousel-dot {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  /* Background image for individual dot */
  #img-dot-1 {
    background-image: url(/img/webp/products/stabel-stor-urtepotte.webp);
    background-size: cover;
  }

  #img-dot-2 {
    background-image: url(/img/webp/products/stabel-stor-urtepotte-1.webp);
    background-size: cover;
  }

  #img-dot-3 {
    background-image: url(/img/webp/products/stabel-stor-urtepotte-2.webp);
    background-size: cover;
  }

  /* CLICKED DOT STYLING */
  input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }
  input:checked + .slide-container .carousel-controls label {
    display: block;
  }

  /***************************************** DESK VERSION **************************************/
  @media screen and (min-width: 800px) {
    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;
    }
    .carousel-controls label {
      opacity: 0;
    }
    .carousel-controls label:hover {
      opacity: 1;
    }
    .carousel-dots {
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 418px;
      gap: 8px;
    }
    .carousel-dots .carousel-dot {
      display: inline-block;
      width: 150px;
      height: 150px;
    }
  }
</style>
