---
import CardProduct from "./CardProduct.astro";

// Fetcher data fra databasen og ligger i konstanten 'data'
const data = await fetch("https://hhmpiztfssfaluwezhgq.supabase.co/rest/v1/rank_keramik?id=lt.5", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobXBpenRmc3NmYWx1d2V6aGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgyNzA4NTUsImV4cCI6MjAyMzg0Njg1NX0.TqriEz5DkZTixJO6AhMtVsvt7xiSjMvpJm525z2c9jM",
  },
}).then((res) => res.json());
---

<div class="carousel">
  {
    data.map((product, i) => {
      return <CardProduct data={product} />;
    })
  }
</div>

<style>
  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing_4);
    /* Set a minimum width to ensure horizontal scrolling */
    min-width: 150%;
    /* Allow items to wrap if they exceed container width */
    flex-wrap: nowrap;
    height: 600px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 600px) {
    .carousel {
      min-width: 100%;
      height: 450px;
    }
  }

  @media (min-width: 1000px) {
    .carousel {
      min-width: 150%;
      height: 450px;
    }
  }
</style>
