---
import CardProductStatic from "./CardProductStatic.astro";
---

<div class="carousel">
  <div carousel-item>
    <CardProductStatic img="tester.webp" />
  </div>
  <div carousel-item>
    <CardProductStatic img="tester.webp" />
  </div>
  <div carousel-item>
    <CardProductStatic img="tester.webp" />
  </div>
  <div carousel-item>
    <CardProductStatic img="tester.webp" />
  </div>
  <div carousel-item>
    <CardProductStatic img="tester.webp" />
  </div>
</div>

<style>
  .carousel {
    display: flex;
    flex-direction: row;
    gap: var(--spacing_4);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* Set a minimum width to ensure horizontal scrolling */
    min-width: 100%;
    /* Allow items to wrap if they exceed container width */
    flex-wrap: nowrap;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    width: 200px; /* eller en hvilken som helst anden ønsket bredde */
  }
</style>
