---
const { type, img, alt } = Astro.props;
---

<div class={type}>
  <img src=`/img/webp/colors/${img}` alt=`Farveprøve af ${alt} glasur` />
</div>

<style>
  div {
    width: 19px;
  }
  img {
    border-radius: var(--radius_max);
  }
  .card {
    width: 17px;
  }

  .singleview {
    width: 24px;
  }

  @media (min-width: 800px) {
    .singleview {
      width: 32px;
    }
  }
</style>
