---
import Color from "./Color.astro";
---

<div class="flex">
  <Color img="tester.webp" />
  <Color img="tester.webp" />
  <Color img="tester.webp" />
</div>

<style>
  .flex {
    display: flex;
    gap: var(--spacing_2);
  }
</style>
