---
import Color from "./Color.astro";
---

<div class="flex">
  <Color img="hvid.webp" type="option" alt="hvid" />
  <Color img="raa_rust.webp" type="active" alt="rå rust" />
  <Color img="gron.webp" type="option" alt="grøn" />
  <Color img="graagraa.webp" type="option" alt="grågrå" />
  <Color img="morkegron.webp" type="option" alt="mørkegrøn" />
  <Color img="gul.webp" type="option" alt="gul" />
  <Color img="havblaa.webp" type="option" alt="havblaa" />
  <Color img="rust.webp" type="option" alt="rust" />
  <Color img="sortbrun.webp" type="option" alt="sortbrun" />
  <Color img="lyseblaa.webp" type="option" alt="lyseblaa" />
  <Color img="morkebrun.webp" type="option" alt="morkebrun" />
  <Color img="blue.webp" type="option" alt="Blue Hills blå" />
</div>

<style>
  .flex {
    display: flex;
    gap: var(--spacing_2);
  }
</style>
