---
import Color from "./Color.astro";
---

<div class="flex">
  <Color img="hvid.webp" type="option" />
  <Color img="raa_rust.webp" type="active" />
  <Color img="gron.webp" type="option" />
  <Color img="graagraa.webp" type="option" />
  <Color img="morkegron.webp" type="option" />
  <Color img="gul.webp" type="option" />
  <Color img="havblaa.webp" type="option" />
  <Color img="rust.webp" type="option" />
  <Color img="sortbrun.webp" type="option" />
  <Color img="lyseblaa.webp" type="option" />
  <Color img="morkebrun.webp" type="option" />
  <Color img="blue.webp" type="option" />
</div>

<style>
  .flex {
    display: flex;
    gap: var(--spacing_2);
  }
</style>
