---
import Accordion from "./Accordion.astro";
---

<article class="mobile">
  <div>
    <img src="/img/svg/tune.svg" alt="ikon" class="icon" />
    <p class="heading">Filter</p>
  </div>
  <Accordion />
</article>

<style>
  article {
    background-color:;
  }
</style>
