---
import Accordion from "./Accordion.astro";
---

<details>
  <summary>
    <div>
      <img src="/img/svg/tune.svg" alt="ikon" class="icon" />
      <p class="heading">Filtre</p>
    </div>
  </summary>
  <article>
    <Accordion type="filter" title="Pris">Noget</Accordion>
    <Accordion type="filter" title="Farve">Noget</Accordion>
    <Accordion type="filter" title="Materiale">Noget</Accordion>
    <Accordion type="filter" title="Kategori">Noget</Accordion>
  </article>
</details>

<style>
  details {
    background-color: var(--primary_300);
    border-radius: var(--radius_m);
    padding: var(--spacing_3) var(--spacing_5);
    margin: var(--spacing_5);
  }

  /* Summary styling and placement */
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--secondary_500);
    padding: var(--spacing_4) var(--spacing_3);
    cursor: pointer;
  }

  div {
    display: flex;
    gap: var(--spacing_4);
  }

  .heading {
    text-transform: uppercase;
  }

  /* article padding */
  article {
    padding: var(--spacing_2) 0 0 var(--spacing_3);
  }

  /* Arrow icon */
  details summary::after {
    /* content: url(/img/svg/arrow_down.svg); */
    content: url(/img/svg/arrow_down.svg);
  }
  details[open] > summary::after {
    transform: rotate(-180deg);
  }
</style>
