---
import Accordion from "./Accordion.astro";
import FormInput from "./FormInput.astro";
import Link from "./Link.astro";
---

<footer>
  <section class="mobile">
    <article>
      <Accordion type="footer" title="Kontakt">
        <div class="info">
          <p>Lars Rank Keramik<br /> Cvr: 29026475</p>
          <p>+45 6177 3993<br />lars@rank.dk</p>
        </div>
      </Accordion>
      <Accordion type="footer" title="Butik">
        <div class="info">
          <p>MADE HERE <br />Wildersgade 23A <br />DK1408 København K.</p>
          <p>Mandag-fredag: 11-17 <br />Lørdag lige uger: 11-15 <br />Søndag: Lukket</p>
        </div>
      </Accordion>
      <Accordion type="footer" title="Info">
        <div class="info">
          <Link type="footer" label="Handelsbetingelser" link="/about" />
          <Link type="footer" label="Levering og fragt" link="/about" />
          <Link type="footer" label="Returnering" link="/about" />
          <Link type="footer" label="E-handel" link="/about" />
        </div>
      </Accordion>
    </article>
    <article class="newsletter">
      <p class="heading">Nyhedsbrev</p>
      <div class="form">
        <FormInput type="nyhed" text="Tilmed" />
      </div>
    </article>
    <article class="social_flex">
      <p class="heading">Sociale medier</p>

      <div class="social_icon_flex">
        <a href="https://dk.pinterest.com/larsrank/">
          <img src="/img/svg/pinterest.svg" alt="Pinterest Logo" class="icon_social" />
        </a>
        <a href="https://www.instagram.com/larsrankkeramik/">
          <img src="/img/svg/instagram.svg" alt="Instagram Logo" class="icon_social" />
        </a>
        <a href="https://www.facebook.com/larsrankkeramik/?ref=hl">
          <img src="/img/svg/facebook.svg" alt="Facebook Logo" class="icon_social" />
        </a>
      </div>
    </article>
  </section>
  <section class="desktop">
    <article>
      <p class="heading">Kontakt</p>
      <div class="info">
        <p>Lars Rank Keramik<br /> CVR: 29026475</p>
        <p>+45 6177 3993<br />lars@rank.dk</p>
      </div>
    </article>
    <article>
      <p class="heading">Butik</p>
      <div class="info">
        <p>MADE HERE <br />Wildersgade 23A <br />DK1408 København K.</p>
        <p>Mandag-fredag: 11-17 <br />Lørdag lige uger: 11-15 <br />Søndag: Lukket</p>
      </div>
    </article>
    <article>
      <p class="heading">Info</p>
      <div class="info">
        <Link type="footer" label="Handelsbetingelser" link="/about" />
        <Link type="footer" label="Levering og fragt" link="/about" />
        <Link type="footer" label="Returnering" link="/about" />
        <Link type="footer" label="E-handel" link="/about" />
      </div>
    </article>
    <article class="space">
      <div>
        <p class="heading">Nyhedsbrev</p>
        <div class="form">
          <FormInput type="nyhed" text="Tilmed" />
        </div>
      </div>
      <div>
        <p class="heading">Sociale medier</p>
        <div class="social_icon_flex">
          <a href="https://www.pinterest.com/">
            <img src="/img/svg/pinterest.svg" alt="pinterest Logo" class="icon" />
          </a>
          <a href="https://www.instagram.com/">
            <img src="/img/svg/instagram.svg" alt="Instagram Logo" class="icon" />
          </a>
          <a href="https://www.facebook.com/">
            <img src="/img/svg/facebook.svg" alt="Facebook Logo" class="icon" />
          </a>
        </div>
      </div>
    </article>
  </section>
</footer>

<style>
  footer {
    background-color: var(--primary_300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing_8);
    padding: var(--spacing_4) var(--spacing_4) var(--spacing_8);
    box-shadow: 0px -4px 4px rgba(238, 227, 211, 0.8);
  }
  .heading {
    text-transform: uppercase;
  }
  /* ACCORDION INDHOLD */
  .info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_4);
  }

  /* NYHEDSBREV OG SOME */
  .newsletter,
  .social_flex {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_4);
    align-items: start;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: var(--spacing_4);
  }
  .social_icon_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: var(--spacing_3);
  }
  /*********************** DESKTOP ***********************/

  .mobile {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_8);
  }

  /*********************** DESKTOP ***********************/
  .desktop {
    display: none;
  }
  @media (min-width: 1000px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
      justify-content: space-between;
      padding: var(--spacing_4) var(--spacing_13) var(--spacing_8);
    }

    .heading {
      text-transform: uppercase;
      margin: var(--spacing_4) 0;
      font-size: 1rem;
    }

    p {
      font-size: 0.875rem;
    }
    .space {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
</style>
