---

---

<form>
  <input type="email" id="email" name="email" placeholder="Indtast din e-mail" required />
</form>

<style>
  input {
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--secondary_300);
    background-color: var(--primary_200);
    border: 3px solid var(--primary_300);
    padding: var(--spacing_4, --spacing_6);
    border-radius: var(--radius_max);
  }
  input:focus {
    border: 3px solid var(--secondary_300);
    outline: none;
  }
</style>
