---

---

<button type="submit"><slot /></button>

<style>
  button {
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--primary_50);
    background-color: var(--accent_600);
    width: fit-content;
    cursor: pointer;
  }
</style>
