---

---

<button type="submit"><slot /></button>

<style>
  button {
    font-family: var(--font_body);
    font-size: 1rem;
    color: var(--accent_600);
    border: solid var(--accent_600);
    border-radius: var(--radius_max);
    padding: var(--spacing_4) var(--spacing_6);
    cursor: pointer;
  }
  button:hover {
    background-color: #c8624c;
  }
</style>
