---
import Link from "../components/Link.astro";
import Basket from "./Basket.astro";
---

<header>
  <a href="/">
    <img class="logo" src="/svg/header_logo.svg" alt="logo" />
  </a>
  <nav>
    <ul class="menu">
      <li><Link link="/products" variant="main">Produkter</Link></li>
      <li><Link link="/#" variant="main">Kurser</Link></li>
      <li><Link link="/#" variant="main">Butikken</Link></li>
      <li><Link link="/about" variant="main">Om Rank</Link></li>
    </ul>

    <article>
      <Basket>4</Basket>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </article>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing_4);
    background-color: var(--primary_100);
    position: sticky;
    top: 0;
    z-index: 500;
  }

  .logo {
    width: 100px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  article {
    display: flex;
    align-items: center;
    gap: var(--spacing_4);
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: var(--spacing_9);
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    /* padding: var(--spacing_4); */
    /* color: var(--primary_50); */
    /* text-decoration: none; */
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    /* color: #f00; */
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--accent_600);
    margin-bottom: 5px;
    transition: 0.2s linear;
    border-radius: var(--radius_small);
  }
  .burger {
    display: none;
  }

  @media (min-width: 800px) {
    header {
      padding: var(--spacing_4) var(--spacing_12);
    }
    .logo {
      width: 130px;
    }
  }

  @media (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      background-color: var(--primary_100);
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: var(--spacing_4);
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 24px;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
