---
import Link from "../components/Link.astro";
import Basket from "./Basket.astro";
import Ui from "./Ui.astro";
import SubMenu from "./SubMenu.astro";
---

<header>
  <nav>
    <a href="/">
      <img class="logo" src="/img/svg/logo.svg" alt="logo" />
    </a>
    <ul class="menu">
      <li class="desktop overlay-trigger"><p class="products">Produkter</p></li>
      <!-- <li><Link link="/products" variant="main" label="Produkter" /></li> -->
      <li class="mobile">
        <SubMenu title="Produkter">
          <SubMenu type="nav" title="Bordæning">
            <Link link="/#" variant="sub_passive" label="Fade" />
            <Link link="/type/kopper" variant="sub" label="Krus og kopper" />
            <Link link="/type/kander" variant="sub" label="Kander" />
            <Link link="/#" variant="sub_passive" label="Skåle" />
            <Link link="/type/tallerkner" variant="sub" label="Tallerkner" />
          </SubMenu>
          <SubMenu type="nav" title="Interiør">
            <Link link="/#" variant="sub_passive" label="Fyrfadsstager" />
            <Link link="/#" variant="sub_passive" label="Lamper" />
            <Link link="/#" variant="sub_passive" label="Lysestager" />
            <Link link="/type/urtepotter" variant="sub" label="Urtepotter" />
            <Link link="/type/vaser" variant="sub" label="Vaser" />
          </SubMenu>
          <SubMenu type="nav" title="Pynt">
            <Link link="/#" variant="sub_passive" label="Ophæng" />
          </SubMenu>
          <SubMenu type="nav" title="Smykker">
            <Link link="/#" variant="sub_passive" label="Armbånd" />
            <Link link="/#" variant="sub_passive" label="Halskæder" />
            <Link link="/#" variant="sub_passive" label="Ørestikker" />
          </SubMenu>
          <SubMenu type="nav" title="Kollektioner">
            <Link link="/collection/blue-hills" variant="sub" label="Blue Hills" />
            <Link link="/collection/colours" variant="sub" label="Colours" />
            <Link link="/#" variant="sub_passive" label="Dots Smykker" />
            <Link link="/collection/stabel" variant="sub" label="Stabel" />
            <Link link="/#" variant="sub_passive" label="You Little Teapot" />
          </SubMenu>
          <div class="others">
            <Link link="/#" variant="nav_passive" label="Nyheder" />
            <Link link="/#" variant="nav_passive" label="Udsalg" />
            <Link link="/products" variant="nav" label="Alle Produkter" />
            <Link link="/#" variant="nav_passive" label="Gavekort" />
          </div>
        </SubMenu>
      </li>

      <li><Link link="/#" variant="main" label="Kurser" /></li>
      <li><Link link="/#" variant="main" label="Butikken" /></li>
      <li><Link link="/about" variant="main" label="Om Rank" /></li>
      <li class="mobile">
        <Ui />
      </li>
    </ul>
  </nav>
  <article>
    <Basket>4</Basket>
    <div class="desktop">
      <Ui />
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </article>
</header>
<!-- OVERLAY -->
<div class="overlay overlay01 desktop">
  <div class="overlay-close overlay_box">
    <article class="submenu">
      <div class="product_category">
        <div class="category">
          <Link link="/#" variant="special_passive" label="Bordækning" />
          <Link link="/#" variant="sub_passive" label="Fade" />
          <Link link="/type/kopper" variant="sub" label="Krus og kopper" />
          <Link link="/type/kander" variant="sub" label="Kander" />
          <Link link="/#" variant="sub_passive" label="Skåle" />
          <Link link="/type/tallerkner" variant="sub" label="Tallerkner" />
        </div>
        <div class="category">
          <Link link="/#" variant="special_passive" label="Interiør" />
          <Link link="/#" variant="sub_passive" label="Fyrfadsstager" />
          <Link link="/#" variant="sub_passive" label="Lamper" />
          <Link link="/#" variant="sub_passive" label="Lysestager" />
          <Link link="/type/urtepotter" variant="sub" label="Urtepotter" />
          <Link link="/type/vaser" variant="sub" label="Vaser" />
        </div>
        <div class="category">
          <Link link="/#" variant="special_passive" label="Pynt" />

          <Link link="/#" variant="sub_passive" label="Ophæng" />
        </div>
        <div class="category">
          <Link link="/#" variant="special_passive" label="Smykker" />
          <Link link="/#" variant="sub_passive" label="Armbånd" />
          <Link link="/#" variant="sub_passive" label="Halskæder" />
          <Link link="/#" variant="sub_passive" label="Ørestikker" />
        </div>
      </div>
      <div class="category">
        <!-- <h4>Kollektioner</h4> -->
        <Link link="/#" variant="special_passive" label="Kollektioner" />
        <Link link="/collection/blue-hills" variant="sub" label="Blue Hills" />
        <Link link="/collection/colours" variant="sub" label="Colours" />
        <Link link="/#" variant="sub_passive" label="Dots Smykker" />
        <Link link="/collection/stabel" variant="sub" label="Stabel" />
        <Link link="/#" variant="sub_passive" label="You Little Teapot" />
      </div>
      <div class="category">
        <Link link="/#" variant="special_passive" label="Nyheder" />
        <Link link="/#" variant="special_passive" label="Udsalg" />
        <Link link="/products" variant="special" label="Alle Produkter" />
        <Link link="/#" variant="special_passive" label="Gavekort" />
      </div>
    </article>
    <button class="overlay-button">Luk</button>
  </div>
</div>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing_2) var(--spacing_4);
    background-color: var(--primary_300);
    position: sticky;
    top: 0;
    z-index: 500;
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }

  .logo {
    height: 40px;
  }

  .h4:hover {
    cursor: not-allowed;
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--spacing_4);
  }

  article {
    display: flex;
    align-items: center;
    gap: var(--spacing_4);
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .menu li {
    margin-right: var(--spacing_9);
    white-space: nowrap;
    width: 93%;
  }

  /* .menu li:last-child {
    margin-right: 0;
    align-self: flex-end;
    justify-self: flex-end;
  } */

  .menu a {
    display: block;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    /* color: #f00; */
  }

  .others {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    margin-top: var(--spacing_3);
  }

  /***********************************  OVERLAY  ***********************************/
  .products {
    font-size: 1.125rem;
    text-transform: uppercase;
    padding:;
  }
  .overlay-trigger {
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .overlay-trigger:hover {
    cursor: pointer;
  }
  /*  */
  .overlay-close {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    z-index: 600;
    top: 205px;
    left: 50%;
    width: 100%;
    /* padding: var(--spacing_4); */
    background: var(--primary_300);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transform: translate(-50%, -50%);
  }
  .overlay-close.is-open {
    opacity: 1;
    visibility: visible;
  }

  .overlay-close:hover {
    cursor: pointer;
  }

  .overlay-button {
    margin: 0 var(--spacing_13) var(--spacing_6);
    padding: var(--spacing_2) var(--spacing_4);

    width: fit-content;
    border: solid;
    border-color: var(--accent_600);
    border-radius: var(--radius_max);
    color: var(--accent_600);
    align-self: center;
  }

  .overlay-button:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }
  .submenu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: var(--spacing_6) var(--spacing_13);
  }
  .product_category {
    display: flex;
    gap: var(--spacing_12);
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_4);
  }

  /***********************************  BURGER  ***********************************/

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--accent_600);
    margin-bottom: 5px;
    transition: 0.2s linear;
    border-radius: var(--radius_small);
  }
  .burger {
    display: none;
  }
  /* BURGERMENU MEDIAQUERY */
  @media (max-width: 1000px) {
    .menu {
      display: none;
    }

    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      background-color: var(--primary_300);
      position: absolute;
      top: 49px;
      left: 0;
      width: 100%;
      height: 900px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: start;
      /* gap: var(--spacing_4); */
      padding-top: var(--spacing_4);
    }

    nav.active .menu li {
      margin: var(--spacing_4);
    }

    nav.active .menu a {
      font-size: 24px;
    }
  }

  /***********************************  TABLET  ***********************************/

  @media (min-width: 500px) {
    .logo {
      height: 50px;
    }
  }
  /***********************************  DESKTOP  ***********************************/
  .desktop {
    display: none;
  }

  /* DESKTOP MEDIAQUERY */
  @media (min-width: 1000px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
    header {
      padding: var(--spacing_4) var(--spacing_13);
    }
    .logo {
      height: 60px;
    }
  }
</style>

<script>
  // Burgermenu

  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });

  // Overlay
  // Originally from https://codepen.io/nxworld/pen/MvJQQy
  // ChatGPT used for code without jQuery https://chat.openai.com/c/3ef19e1c-9849-4b8e-9d62-bf327aeec5ca

  document.addEventListener("DOMContentLoaded", function () {
    // Variabeldeklaration
    var overlays = document.querySelectorAll(".overlay");
    var overlayTriggers = document.querySelectorAll(".overlay-trigger");
    var overlayClose = document.querySelectorAll(".overlay-close");
    var openClass = "is-open";

    // Åbn overlay
    overlayTriggers.forEach(function (trigger, index) {
      trigger.addEventListener("click", function () {
        var num = ("0" + (index + 1)).slice(-2);
        var overlay = document.querySelector(".overlay" + num);
        overlay.classList.add(openClass);
        overlayClose.forEach(function (close) {
          close.classList.add(openClass);
        });
      });
    });

    // Luk overlay
    overlayClose.forEach(function (close) {
      close.addEventListener("click", function () {
        overlayClose.forEach(function (close) {
          close.classList.remove(openClass);
        });
        overlays.forEach(function (overlay) {
          overlay.classList.remove(openClass);
        });
      });
    });
  });
</script>
