---
import Button from "../components/Button.astro";

const { img, heading, button, button_txt } = Astro.props;
---

<section>
  <img src=`/img/webp/${img}` alt="" />
  <article>
    <div class="placing">
      <h1>{heading}</h1>
      <slot />
      <div class={button}>
        <Button>{button_txt}</Button>
      </div>
    </div>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    margin: 0 0 var(--spacing_9);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    padding: var(--spacing_5);
  }

  @media (min-width: 800px) {
    img {
      position: relative;
      z-index: 1;
    }
    article {
      position: absolute;
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .placing {
      display: grid;
      grid-column: 2;
      grid-row: 2;
    }
  }

  .hide {
    display: none;
  }
</style>
