---
const { variant, link, label } = Astro.props;
---

<a href={link} class={variant}>{label}</a>

<style>
  a {
    text-decoration: none;
    color: var(--secondary_500);
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .main {
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .sub {
    font-size: 1rem;
  }
  .sub_passive {
    font-size: 1rem;
  }
  .sub_passive:hover {
    cursor: not-allowed;
  }

  .active {
    text-decoration: underline;
    filter: drop-shadow(0 0 4px var(--primary_50));
  }

  .breadcrumb {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.5rem;
  }
</style>
