---
const { variant, link, label } = Astro.props;
---

<a href={link} class={variant}>{label}</a>

<style>
  a {
    text-decoration: none;
    color: var(--secondary_500);
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  /* MAIN */

  .main,
  .main_passive {
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  /* SPECIAL */

  .special,
  .special_passive {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  /* NAV */

  .nav,
  .nav_passive {
    font-size: 1rem;
    text-transform: uppercase;
  }

  /* SUB */

  .main,
  .main_passive {
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  /* DØDE LINKS */
  .main_passive:hover,
  .special_passive:hover,
  .sub_passive:hover,
  .nav_passive:hover {
    text-decoration: none;
    cursor: default;
  }

  .active {
    text-decoration: underline;
    filter: drop-shadow(0 0 4px var(--primary_50));
  }

  .breadcrumb {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.5rem;
  }
</style>
