---
import CardProduct from "../components/CardProduct.astro";

const { category, type } = Astro.props;

// Fetcher data fra databasen og ligger i konstanten 'data'
const url = `https://hhmpiztfssfaluwezhgq.supabase.co/rest/v1/rank_keramik?${type}=eq.${category}`;

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobXBpenRmc3NmYWx1d2V6aGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgyNzA4NTUsImV4cCI6MjAyMzg0Njg1NX0.TqriEz5DkZTixJO6AhMtVsvt7xiSjMvpJm525z2c9jM",
  },
}).then((res) => res.json());

console.log("data:", data);
---

<section>
  {
    data.map((product, i) => {
      return <CardProduct data={product} />;
    })
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing_5);
  }
</style>
