---
const 
---

<details>
  <summary> 
    <div>
    <img src="/img/svg/filter_alt.svg" alt="ikon" class="icon" />
    <p class="heading">Sortér</p>
  </div>
</summary>
  <article>
    <p>Lav til høj - pris</p>
    <p>høj til lav - pris</p>
    <p>Mest relevant</p>
  </article>
</details>

<style>
  article {
    background-color: var(--primary_300);
    border-radius: var(--radius_m);
    padding: var(--spacing_3) var(--spacing_5);
  }

  div {
    display: flex;
    gap: var(--spacing_4);
  }

  .heading {
    text-transform: uppercase;
  }
</style>
