---
import Hero from "../components/Hero.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
import Accordion from "../components/Accordion.astro";
import Select from "../components/Select.astro";
import Button from "../components/Button.astro";
import ListProducts from "../components/ListProducts.astro";
import FilterPrice from "../components/FilterPrice.astro";
import Colorsample from "../components/Colorsample.astro";
import FilterMaterial from "../components/FilterMaterial.astro";
import FilterCategory from "../components/FilterCategory.astro";

const { img, heading, list_column, list_type } = Astro.props;
---

<MainLayouts>
  <Hero img={img} heading={heading} button="hide">
    <slot />
  </Hero>
  <section>
    <div class="menu">
      <Select img="filter_alt.svg" title="Sorter">
        <p>Lav til høj - pris</p>
        <p>høj til lav - pris</p>
        <p>Mest relevant</p>
      </Select>
      <Select type="sorting" img="tune.svg" title="filtre">
        <Accordion type="filter" title="Pris"><FilterPrice /></Accordion>
        <Accordion type="filter" title="Farve"><Colorsample /></Accordion>
        <Accordion type="filter" title="Materiale"><FilterMaterial /></Accordion>
        <Accordion type="filter" title="Kategori"><FilterCategory /></Accordion>
      </Select>
    </div>

    <article>
      <ListProducts column={list_column} type={list_type} />
      <!-- <Button type="secondary" link="#">Indlæs flere</Button> -->
    </article>
  </section>
</MainLayouts>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    margin: var(--spacing_6);
  }

  article {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: var(--spacing_5);
  }

  .menu {
    display: flex;

    gap: var(--spacing_4);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing_5);
  }

  @media (min-width: 800px) {
    .menu {
      flex-direction: column;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: var(--spacing_12) var(--spacing_13);
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: var(--spacing_5);
    }
  }
</style>
