---
import "../styles/general.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="Lars Rank keramiks hjemmeside. Her kan du købe hans keramiske produkter, 
    komme på kursus med lars og læse om Lars Rank og hans proces. Du kan også finde adresse og kontaktoplysninger.">
<meta name="author" content="MMD studerende 2. semester, gruppe 10 eksamen, Sif Melkane Hansen, Trine Ekberg Larsen og Ella Bakke">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
